*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    display: block;
}
@font-face {
    font-family: "ferense";
    src: url("/public/font/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
    font-weight: 600;
}